@import "fonts.css";
@import "colors.css";

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: radial-gradient(ellipse, var(--color-secondary), var(--color-primary)) fixed !important;
}

#logo {
    width: 45%;
    max-width: 340px;
}

h1 {
    color: white;
}

p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    line-height: 100%;
}

.btn {
    color: white !important;
    background-color: rgba(240, 240, 240, 0.25);
    font-size: 1.3em;
}

.btn:hover {
    color: white !important;
    background-color: rgba(240, 240, 240, 0.4);
}