body {
    font-weight: 400;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

.highlight {
    background-color: #f9f9f9;
}

/* This changes inline code and hopefully nothing else */
.highlighter-rouge {
    color: #336699
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
}

.nav-header {
    font-size: 1em;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

thead {
  background-color: #f9f9f9;
}

td {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
}
