@import url('https://fonts.googleapis.com/css?family=Calistoga|Roboto+Mono|Source+Sans+Pro:400,700&display=swap');

body {
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: 'Calistoga', sans-serif;
}

small {
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #fafafa;
    font-size: 0.8em;
}

.highlight {
    background-color: #fafafa;
    border-radius: 12px;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
    font-family: 'Roboto Mono', monospace;
    color: #dd2200;
}

a {
    color: #0e95e3;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#content {
    /* bigger font */
    font-size: 1.1em;
}

#content p {
    /* spacing for all paragraphs */
    margin-top: 16px;
    margin-bottom: 16px;
}

#content ul li {
    /* spacing for lists */
    margin-top: 8px;
    margin-bottom: 8px;
}

#content h5 {
    font-size: 1.1em;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}

#content .page-subtitle {
    font-size: 0.45em;
}

#landing {
    background: radial-gradient(ellipse, #f7a816, #f76c16) !important;
    background-attachment: fixed !important;
}

#landing h1 {
    font-size: 10vw;
    color: white;
    margin-top: 16px;
    margin-bottom: 0px;
    letter-spacing: 0.04em;
    font-weight: bold;
}

@media (min-width: 576px) {
  #landing h1 {
    font-size: 4em;
  }
}

#landing p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
    margin: 8px;
    max-width: 80%;
    line-height: 100%;
}

#landing a {
    background-color: rgba(240, 240, 240, 0.3);
    color: white;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    margin-top: 16px;
    display: inline-block;
    font-family: 'Calistoga', sans-serif;
    font-size: 1.1em;
}

#landing #screenshots img {
    max-width: 100%;
    padding: 12px;
}

#landing #screenshots {
    margin-top: 24px;
    margin-bottom: 24px;
}

#navigation {
    font-size: 1.0em;
}

#navigation li a {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
}

#navigation li a:hover {
    background: #fafafa;
}

#navigation li.active a {
    background: #f76c16;
    color: #FFFFFF;
}

#navigation .nav-header {
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
}

.nav-header {
    font-size: 1.1em;
    cursor: default;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-family: 'Calistoga', sans-serif;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

thead {
  background-color: #f9f9f9;
}

td {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  font-weight: 400;
}
