<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.otaliastudios.cameraview">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application>
        <activity
            android:configChanges="orientation|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:name=".TestActivity"/>
    </application>

</manifest>